.sidebar-right {
  position: fixed;
  background-color: #f8f9fa;
  z-index: 2000; /* Assure l'affichage au-dessus d'autres éléments */
  overflow-y: auto;
  right: 0;
  padding:10px;
  top: 50px;
  bottom: 0;
  width: 250px;
  transition: transform 0.3s ease;
}

.sidebar-right.collapsed {
  width: 60px;
  padding: 10px;
  transform: translateX(0);
}

.sidebar-right .toggle-button {
  position: static;
  top: 10px;
  z-index: 1000;
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.sidebar-item-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 8px;
}

.sidebar-right.collapsed .icon + span {
  display: none;
}
