/* src/components/AttributesContainer.css */
.attributes-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .attributes-container td {
    padding: 4px;
    border-bottom: 1px solid #ddd;
  }
  