.project-list {
    width: 100%;
    background-color: #fff;
    border: 2px inset #ccc; /* Effet creusé */
    padding: 10px;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .project-item {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all 0.3s ease;
  }

  .project-gamme {
    color: #666; /* Une couleur plus discrète */
    font-size: 0.9em; /* Taille légèrement réduite */
  }
  
  .project-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Bandeau transparent */
  }
  
  .project-item.active {
    background-color: #007bff; /* Couleur pour le projet actif */
    color: white;
    font-weight: bold;
    border-color: #0056b3;
  }
  