# =========================
#     PYTHON / DJANGO
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log

# Virtual env
env/
.venv/
venv/

# Django stuff
*.sqlite3
/logs/
media/
staticfiles/

# Migrations (optionnel selon votre usage)
**/migrations/**

# Ruff / Mypy / cache outils
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Coverage
coverage/
htmlcov/

# =========================
#     NODE / REACT
# =========================

node_modules/
dist/
build/
.cache/
.parcel-cache/

# Vite / Webpack cache (si jamais)
.vite/
webpack-stats.json

# Logs Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
#     ENV FILES
# =========================

.env
.env.*
*.env

# =========================
#     IDE / OS
# =========================

.vscode/
.idea/
.DS_Store
Thumbs.db
