/* src/components/MapDisplay.css */

.map-display {
    width: 100%;
    background-color: #fff;
    border: 2px inset #ccc; /* Effet creusé comme ProjectList */
    padding: 10px;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
}

.map-display h3 {
    margin-bottom: 10px;
    font-size: 1.4em;
    color: #333;
}

.map-display p {
    color: #666;
    font-size: 0.9em;
}

.rubric-list {
    margin-top: 15px;
}

.rubric-item {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.rubric-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Effet de survol similaire */
}

.rubric-item.active {
    background-color: #007bff; /* Couleur pour la rubrique active */
    color: white;
    font-weight: bold;
    border-color: #0056b3;
}
